.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.flex-item {
  text-align: center;
  align-self: center;
}

article .text .circleimg {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 20px 0 0;
  background-position: center;
  background-size: cover;
}

article table tbody tr:first-child td {
  border-top: 1px solid #ededee;
}

.section-header {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 15px;
  display: block;
  line-height: 30px;
  background: #eaeaea;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.section-header:before {
  position: absolute;
  content: '+';
  display: inline-block;
  margin-right: 5px;
  left: 7px;
  width: 1em;
  text-align: center;
}

.section-header.expanded:before {
  content: '-';
}

.section-content {
  text-align: left;
  margin: 0 30px;
  display: none;
}

article .text .expandable {
  margin: 10px 0 0;
  padding: 0;
}

.enroll-button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(156, 5, 12);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.enroll-button:hover {
  background-color: rgb(140, 4, 10);
}

.enroll-button:active {
  background-color: rgb(120, 3, 8);
}

.quiz {
  position: relative;
  text-align: left;
  margin: 20px 0;
  padding-left: 10px;
  border-left: solid 10px #eaeaea;
}

.question {
  padding: 0 0 20px 10px;
}

.answers {
  padding: 0 0 0 20px!important;
  margin-left: 20px;
  margin-bottom: 10px!important;
}

.answers li {
  cursor: pointer;
  list-style: none;
  margin: 0!important;
  position: relative;
  padding-bottom: 10px;
}

.answers li.locked {
  cursor: default;
}

.answers li.locked.selected {
  color: #9c050c;
  font-weight: bold;
}

.answers li.locked.correct {
  color: green;
  font-weight: bold;
}

.answers li:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  background-color: ;
  width: 11px;
  height: 11px;
  line-height: 8px;
  font-size: 20px;
  font-weight: normal;
  top: 7px;
  left: -20px;
  border: solid 1px #21272d;
  border-radius: 2px;
}

.answers li.selected:before {
  content: '✓';
}

.answers li.selected {
  font-weight: bold;
}

.quiz-footer {
  text-align: right;
}

.status {
  font-weight: bold;
}

.status.correct {
  color: green;
  padding-right: 20px;
}

.status.wrong {
  color: #9c050c;
}

.submit {
  position: relative;
  padding: 10px 18px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #39b54a;
  border: none;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.submit:hover {
  background-color: #36ab45;
}

.submit:active, .submit:focus {
  background-color: #319b3f;
}

.score {
  font-size: 20px;
}

.score strong {
  padding-left: 10px;
}

#messageus {
  display: block;
  margin: 0 auto;
  width: 90px;
  background-color: #0084ff;
  color: white;
  font-size: 15px;
  position: relative;
  padding: 0 5px 0 37px;
  border-radius: 3px;
  height: 38px;
  line-height: 38px;
}

#messageus:before {
  content: ' ';
  display: inline-block;
  background-image: url(/assets/images/messenger.png);
  background-position: 0 -21px;
  background-size: auto;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}
