.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.flex-item {
  text-align: center;
  align-self: center;
}

article .text .circleimg {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 20px 0 0;
  background-position: center;
  background-size: cover;
}

article table tbody tr:first-child td {
  border-top: 1px solid #ededee;
}

.section-header {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 15px;
  display: block;
  height: 30px;
  background: #eaeaea;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.section-header:before {
  content: '+';
  width: 1em;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 5px;
}

.section-header.expanded:before {
  content: '-';
}

.section-content {
  text-align: left;
  margin: 0 30px;
  display: none;
}

article .text .expandable {
  margin: 10px 0 0;
  padding: 0;
}

.enroll-button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(156, 5, 12);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.enroll-button:hover {
  background-color: rgb(140, 4, 10);
}

.enroll-button:active {
  background-color: rgb(120, 3, 8);
}
