<header role="banner">
<div class="wrap">
  <h1>
    <a class="site-title" href="{{ site.baseurl }}/">
      <img width="212" height="100" class="logo" src="{{ site.baseurl }}/assets/images/{{ site.logo }}" alt="{{ site.title }}"/>
    </a>
  </h1>
  <hr>
  <p class="site-subtitle">{{ site.description }}</p>
  <!--
    <nav class="site-nav">
    <div class="trigger">
    {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
    </div>
    </nav>
  -->
</div>
</header>
